<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>

    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/vendor/bootstrap-icons.css">
    <link rel="stylesheet" href="assets/css/animation.css">
    <link rel="stylesheet" href="assets/css/about-us.css">
</head>
<body>
    <!-- Start navbar -->
    <nav class="mainNavbar">
        <div class="container">
            <div class="logo">
                <h3 class="text-uppercase">Inventory flow</h3>
                <p class="text-muted"> Inventory management system</p>
            </div>
            <span class="togglerBTN">
                <i class="bi bi-list"></i>
            </span>
            <ul class="mainLinks">
                <li>
                    <a href="/">
                        <i class="bi bi-house px-2 fs-5 lh-sm"></i>
                        Home
                    </a>
                </li>
                <li>
                    <a href="sold">
                        <i class="bi bi-cart-x px-2 fs-5 lh-sm"></i>
                        sold out
                    </a>
                </li>
                <li class="active">
                    <a href="#">
                        <i class="bi bi-book px-2 fs-5 lh-sm"></i>
                        About us
                    </a>
                </li>
                <li>
                    <a href="about-us-ar">
                        <button type="button" id="langBTN" class="btn btn-outline-light px-4 rounded fw-bold">العربية</button>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
<!-- end navbar -->
    <main class="about-us">
        <div class="container ">
            <div class="row mb-5">
                <div class="col-12 my-4">
                    <h3 class="heading text-center"><i class="bi bi-binoculars-fill pe-2"></i> About us</h3>
                </div>
            </div>
            <div class="row mt-3 justify-content-between">
                <div class="col-12 col-md-4 my-5 profile_gallery">
                    <div class="card shadow-lg m-auto">
                        <img src="assets/images/ahmed-shehata.jpg" alt="ahmed-shehata.jpg" class="card-img-top rounded-circle ">
                        <header class="card-header">
                            <h4 class="card-title fs-5 text-capitalize">
                                ahmed shehata
                            </h4>
                        </header>
                        <div class="card-body">
                            <p class="card-text text-muted lh-sm text-capitalize py-2">
                                <span class="text-dark fw-bold">front-end web developer</span>
                                i'm from Egypt ,alexandria <br>
                                technologes is have <br>[HTML - CSS - JS - Bootstrap ]
                                
                            </p>
                            <a href="https://www.linkedin.com/in/ahmed-shehata-b63001225" class="btn btn-dark rounded-pill">More ..</a>
                            <a  href="https://github.com/AhmedShehata98" class="btn btn-outline-dark rounded-pill">Github</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 my-5 profile_gallery">
                    <div class="card shadow-lg m-auto">
                        <img src="assets/images/mohamed-alnakeeb.jfif" alt="ahmed-shehata.jpg" class="card-img-top rounded-circle ">
                        <header class="card-header">
                            <h4 class="card-title fs-5 text-capitalize">
                                Mahmoud Alnakeeb
                            </h4>
                        </header>
                        <div class="card-body">
                            <p class="card-text text-muted lh-sm text-capitalize">
                                <span class="text-dark fw-bold">full-stack web developer</span>
                                from Egypt,
                                faculty of commerce student specializing in business Administration.
                            </p>
                            <a href="https://www.linkedin.com/in/mahmoud-alnakeeb-a42571202" class="btn btn-dark rounded-pill">More ..</a>
                            <a  href="https://github.com/mahmoudalnkeeb" class="btn btn-outline-dark rounded-pill">Github</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="assets/js/about-us.js"></script>
</body>
</html>