<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/images/settings.png" type="image/x-icon">
    <title>Inventory management system</title>
    <!-- Start Bootstrap -->
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/vendor/bootstrap-icons.css">
    <link rel="stylesheet" href="assets/css/animation.css">
    <link rel="stylesheet" href="assets/css/main.css">
</head>
<body class="bg-light bg-gradient">
<!-- Start navbar -->
    <nav class="mainNavbar">
        <div class="container">
            <div class="logo">
                <h3 class="text-uppercase">Inventory flow</h3>
                <p class="text-muted"> Inventory management system</p>
            </div>
            <span class="togglerBTN">
                <i class="bi bi-list"></i>
            </span>
            <ul class="mainLinks">
                <li class="active">
                    <a href="#">
                        <i class="bi bi-house px-2 fs-5 lh-sm"></i>
                        Home
                    </a>
                </li>
                <li>
                    <a href="sold">
                        <i class="bi bi-cart-x px-2 fs-5 lh-sm"></i>
                        sold out
                    </a>
                </li>
                <li>
                    <a href="about-us">
                        <i class="bi bi-book px-2 fs-5 lh-sm"></i>
                        About us
                    </a>
                </li>
                <li>
                    <a href="ar">
                        <button type="button" id="langBTN" class="btn btn-outline-light px-4 rounded fw-bold">العربية</button>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
<!-- end navbar -->
    <main class="MainCrud py-2 px-3 ">
        
        <div class="container " id="putContentLocation">
            <form method="POST"
                class="product_inputs row my-3  pb-4 border border-dark rounded needs-validation align-item-center justify-content-between"
                id="mainPriceingForm" novalidate>
                <div class="row mb-4 p-0 mx-auto">
                    <div class="col-12 p-0" id="alertBox_Container">
                    
                    </div>
                </div>
                <div class="row mb-2 mx-auto">
                    <div class="col-12 mb-2 fw">
                        <div class="title input-group">
                            <span class="input-group-text fw-bold">Title</span>
                            <input class="form-control text-uppercase" type="text" required placeholder="product name ..." id="title">
                            <div class="invalid-feedback">
                                Please enter a Title.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pricing row mb-2 mx-auto justify-content-center align-item-center" >
                    <div class="col-12 mb-2 col-lg-2 pe-0">
                        <div class="input-group">
                            <span class="input-group-text fw-bold">price</span>
                            <input class="form-control text-uppercase" type="number" required placeholder=" price..." id="price">
                            <div class="invalid-feedback">
                                Please enter a Price.
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-2 pe-0 col-lg-2 pe-0">
                        <input class="form-control text-uppercase" type="number"  placeholder="Taxes ..." id="tax">
                    </div>
                    <div class="col-12 mb-2 pe-0 col-lg-2 pe-0">
                        <input class="form-control text-uppercase" type="number"  placeholder="ads ..." id="ads">
                    </div>
                    <div class="col-5 mb-2 pe-0 col-lg-2 pe-0">
                        <input class="form-control text-uppercase" type="number" placeholder="discount ..." id="discount">
                    </div>
                    <div class="col-5 mb-2 pe-0 col-lg-2 pe-0">
                        <div class="input-group">
                            <span class="input-group-text fw-bold ms-auto">L.E</span>
                            <span class="input-group-text fw-bold " id="innerTotal">0.00</span>
                        </div>
                    </div>
                </div>
                <div class="count row mb-2 mx-auto gap-2 align-item-center justify-content-between">
                    <div class="col-12 col-6">
                        <div class="input-group">
                            <span class="input-group-text fw-bold">count</span>
                            <input class="form-control" type="number" placeholder="Count of product..." id="count">
                        </div>
                    </div>
                    <div class="col-12 col-6">
                        <div class="input-group">
                            <span class="input-group-text fw-bold">Category</span>
                            <input class="form-control" type="text" placeholder="category..." id="Category">
                        </div>
                    </div>
                </div>
                <div class="search row mt-2 mx-auto justify-content-between gap-1 ">
                    <div class="col-12 col-lg-4 mb-2">
                        <span class="input-group-text fw-bold text-uppercase">products count is : <span
                                class="bg-dark py-1 px-3 text-light ms-2 " id="product_count"></span></span>
                    </div>
                    <div class="col-12 col-lg-7">
                        <button class="btn btn-dark  bg-gradient shadow rounded w-100 fw-bold" type="submit" id="CreateBtn"><i
                                class="bi bi-plus-square pe-3"></i> Create</button>
                    </div>
                </div>
            </form>
                <div class="outputs row border border-dark rounded mb-4 p-2 align-item-center justify-content-between gap-2">
                    <div class="col-12 col-lg-6 ">
                        <div class="input-group">
                            <span class="input-group-text  fw-bold text-uppercase">search</span>
                            <input class="form-control text-capitalize" type="search" placeholder="Search on products..." id="searchField">
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <select  class="form-select fw-bold text-uppercase" name="search" id="searchMethod">
                            <option selected value="name">Choose Search Method..</option>
                            <option value="name">search by title</option>
                            <option value="category">search by category</option>
                            <option value="price">search by price</option>
                        </select>
                        
                    </div>
                    <!-- <div class="col-6 col-lg-2 mb-2">
                        <button type="button" onclick="ADD_PRODCT_TO_TABLE(ALL_THE_PRODUCTS)"
                            class="btn btn-dark d-flex align-item-center mx-auto" id="returnAllData">
                            <i class="bi bi-arrow-clockwise fs-4 me-2"></i>
                            <strong class="lh-lg">show all</strong>
                        </button>
                    </div> -->
                </div>
                <div class="innerProductTable row my-4 " style="overflow-x: auto;">
                    <table class="table table-hover table-dark mt-5">
                        <thead>
                            <tr class="text-uppercase">
                                <th scope="col">id</th>
                                <th scope="col">title</th>
                                <th scope="col">Category</th>
                                <th scope="col">price</th>
                                <th scope="col">Tax</th>
                                <th scope="col">Ads</th>
                                <th scope="col">discount</th>
                                <th scope="col">total</th>
                                <th scope="col">count</th>
                                <th scope="col">update</th>
                            </tr>
                        </thead>
                        <tbody id="myoutputArea">
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>No data in the system yet.</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>
    </main>

    <script src="assets/js/bootstrap.bundle.js"></script>
    <script src="assets/js/main.js"></script>
</body>
</html>